<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" 
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
            crossorigin="anonymous">
		<title>
			{% block title %}{% endblock %}- oZone
        </title>
	</head>
	<body>
		<div class="container">
            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
	    </div>
	</body>
</html>
